<div id="<%= dom_id sponsor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= sponsor.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= sponsor.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= sponsor.slug %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this sponsor", sponsor, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
