<!DOCTYPE html>
<html>
  <head>
    <title>ThaliaSymposium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <style>
      /* TODO: move to application style sheet */
      html {
          background: radial-gradient(ellipse at top left, #94daf7, #fadcec) no-repeat center center fixed;
          background-size: cover;
      }

      html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: auto;
      }

      #logo {
          overflow: auto;
      }

      #nav {
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(10px);
      }

      #login-button {
          background-size: 25%;
          background-position: -1px center;
          background-clip: padding-box;
          overflow: hidden;
          background-repeat: no-repeat;
          background-image: url(<%= image_url "login-arrow.svg" %>)
      }
    </style>

    <script>
      let menuOpen = false;

      window.addEventListener("click", function(event) {
          if (menuOpen) {
              toggleMenu(event);
          }
      });

      window.addEventListener("load", function() {
          document.getElementById("menu-button").addEventListener("click", toggleMenu);
      });

      function toggleMenu(event) {
          let original = document.getElementById("nav").classList;
          let logo = document.getElementById("logo").classList;
          let container = document.getElementById("nav-container").classList;
          let expanded = document.getElementById("nav-items-expanded").classList;
          menuOpen = expanded.contains("hidden");
          if (expanded.contains("hidden")) {
              expanded.remove("hidden");
              original.add("hidden");
              container.remove("h-[64px]");
              container.add("h-[192px]");
              logo.remove("h-[calc(100%-64px)]");
              logo.add("h-[calc(100%-192px)]");
          }
          else {
              expanded.add("hidden");
              original.remove("hidden");
              container.remove("h-[192px]");
              container.add("h-[64px]");
              logo.remove("h-[calc(100%-192px)]");
              logo.add("h-[calc(100%-64px)]");
          }
          event.stopPropagation();
      }
    </script>
  </head>

  <body class="block">
    <% if current_page?(root_path) %>
      <header id="logo" class="w-full lg:items-end py-8 px-8 lg:grid lg:grid-cols-[1fr_2.46fr] h-[calc(100%-64px)]">
        <%= image_tag "thalialogo.svg", class: "w-1/3 lg:w-full" %>
        <%= image_tag "largelogo.svg", width: "100%", class: "mt-8 lg:m-0" %>
      </header>
    <% end %>
    <nav id="nav-container" class="h-[64px] sticky w-full top-0">
      <div id="nav" class="flex flex-row justify-between w-full py-2 px-2">
        <div class="md:hidden flex grow flex-row justify-start gap-4">
          <button id="menu-button" class="block bg-[#E82F90CC] rounded-full px-3 py-3 text-white">
            <%= image_tag "hamburger.svg", class: "w-6" %>
          </button>
        </div>
        <ul id="nav-items" class="max-md:hidden flex grow flex-row justify-start gap-4">
          <%= link_to "Home",             root_url,     class: "block bg-[#E82F90CC] rounded-full px-8 py-3 text-white" %>
          <%= link_to "Programme",        speakers_url, class: "block bg-[#B04EA7CC] rounded-full px-8 py-3 text-white" %>
          <%= link_to "Sponsors",         sponsors_url, class: "block bg-[#6C72C2CC] rounded-full px-8 py-3 text-white" %>
          <%= link_to "Get Your Ticket!", sponsors_url, class: "block bg-[#0FAEEECC] rounded-full px-8 py-3 text-white" %>
        </ul>
        <div class="flex-none">
          <%= link_to "Log In", sponsors_url, id: "login-button", class: "block bg-[#222222CC] rounded-full py-3 pl-10 pr-6 text-white" %>
        </div>
      </div>
      <ul id="nav-items-expanded" class="w-full hidden flex flex-col justify-end m-0 bg-white">
        <%= link_to "Home",             root_url,     class: "block bg-[#E82F90CC] px-8 py-3 text-white" %>
        <%= link_to "Programme",        speakers_url, class: "block bg-[#B04EA7CC] px-8 py-3 text-white" %>
        <%= link_to "Sponsors",         sponsors_url, class: "block bg-[#6C72C2CC] px-8 py-3 text-white" %>
        <%= link_to "Get Your Ticket!", sponsors_url, class: "block bg-[#0FAEEECC] px-8 py-3 text-white" %>
      </ul>
    </nav>
    <main class="container flex">
      <%= yield %>
    </main>
  </body>
</html>
